/*.*
!.gitignore
!README.md

/admin/*
!/admin/

/admin/controller/*
!/admin/controller/
/admin/controller/extension/*
!/admin/controller/extension/
/admin/controller/extension/module/*
!/admin/controller/extension/module/
!/admin/controller/extension/module/xd_attribute_value.php

/admin/language/*
!/admin/language/
/admin/language/en-gb/*
!/admin/language/en-gb/
/admin/language/en-gb/extension/*
!/admin/language/en-gb/extension/
/admin/language/en-gb/extension/module/*
!/admin/language/en-gb/extension/module/
!/admin/language/en-gb/extension/module/xd_attribute_value.php

/admin/language/ru-ru/*
!/admin/language/ru-ru/
/admin/language/ru-ru/extension/*
!/admin/language/ru-ru/extension/
/admin/language/ru-ru/extension/module/*
!/admin/language/ru-ru/extension/module/
!/admin/language/ru-ru/extension/module/xd_attribute_value.php

/admin/view/*
!/admin/view/

/admin/view/javascript/*
!/admin/view/javascript/
/admin/view/javascript/jquery/*
!/admin/view/javascript/jquery/

/admin/view/template/*
!/admin/view/template/
/admin/view/template/extension/*
!/admin/view/template/extension/
/admin/view/template/extension/module/*
!/admin/view/template/extension/module/
!/admin/view/template/extension/module/xd_attribute_value.twig

/admin/view/stylesheet/*
!/admin/view/stylesheet/
!/admin/view/stylesheet/xd_attribute_value.css


/catalog/


/system/


/image/
/install/
/storage/